- if EffectiveResources.authorized?(self, :admin, :mailchimp_sync)
  %p= link_to 'Sync changes from Mailchimp', effective_mailchimp.mailchimp_sync_admin_mailchimp_index_path, 'data-method': :post, class: 'btn btn-primary'
